@model IEnumerable<Language>

@{
    ViewData["Title"] = "Language | Index";
}

<div class="container">

</div>

<div class="container text-center mt-3">
    <div class="row  mb-3 d-flex justify-content-end">
        <div class="col-6">
            <div class="text-right">
                <a asp-controller="Language" asp-action="Add_Edit" class="btn btn-info ">&dagger; Add Language</a>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">

        </div>
        <div class="col-6">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Language</th>
                        <th>Manage</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @item.language
                                </td>
                                <td>
                                    <partial name="_ButtonGroup" model="@item.Id" />
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        function myclick() {
            window.alert("Confirm...")
        }
    </script>

}