@model Book

@{
    ViewData["Title"] = "Details";
}


<div class="container mt-4">
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 text-left">
            <img class="w-100" src="~/assets/undraw_Forms_re_pkrt.svg" />
        </div>

        <div class="col-lg-6 col-md-12 col-sm-12 text-left">
            <div class="bg-light mb-3 p-2 text-center">
                <p>Add a new book...</p>
            </div>
            <form>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <input class="form-control" placeholder="Title" asp-for="Title" />
                    <span asp-validation-for="Title"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Author Name" asp-for="Author" />
                    <span asp-validation-for="Author"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Description" asp-for="Description" />
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Category" asp-for="category" />
                    <span asp-validation-for="category"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Language" asp-for="language" />
                    <span asp-validation-for="language"></span>
                </div>
                <div class="form-group">
                    <input class="form-control" placeholder="Total Page" asp-for="TotalPage" />
                    <span asp-validation-for="TotalPage"></span>
                </div>
                <div class="form-group">
                    <input class="form-control-file" placeholder="Cover Photo" asp-for="ImageFile" />
                    <span asp-validation-for="ImageFile"></span>
                </div>
                <div class="form-group">
                    <input class="form-control btn-outline-info" type="submit" />
                </div>
            </form>
        </div>
    </div>
</div>